<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Evgenii Korolev Portfolio</title>
</head>

<body>
    <%- include('blocks/header') -%>
        <main>
            <div class="content-container">
                <div class="image-container">
                    <img src="/pics/photo_2023-10-06_11-.jpg" alt='Evgenii Korolev'>
                </div>
                <div class="text-container">
                    <h1>Evgenii Korolev</h1>
                    <p id="port-p">A dedicated Computer Science student specializing in Big Data at the University of
                        Wollongong in Dubai. Previously studied Business Informatics at RANEPA, Moscow. Experienced in
                        IT management, with roles at the Executive Body of the Tuva Republic and SVARTA. Skilled in
                        Python, HTML, CSS, and SQL. Achieved second place in a Sberbank Hackathon. Passionate about the
                        potential and innovations of Big Data.</p>
                    <a href="https://www.linkedin.com/in/evgenii-korolev/"><img src="/pics/link.svg" alt="Linkedin"
                            class="ref-images"></a>
                    <a href="https://github.com/MrRex1122"><img src="/pics/github.png" alt="Github"
                            class="ref-images"></a>
                    <a href="https://www.instagram.com/korolyov_v/"><img src="/pics/instagram.png" alt="Instagram"
                            class="ref-images"></a>
                    <a href="https://twitter.com/EvKorSys"><img src="/pics/twww.svg" alt="Twitter"
                            class="ref-images"></a>
                    <h6 id="shadow-contacts">
                        <p>evgenii.korolev.sys@gmail.com <br>
                            +971522884653</p>
                    </h6>
                </div>
            </div>

            <div id="myport">
                <h2>My Porfolio</h2>
                <p>As a meticulous web developer and digital architect, I pride myself on crafting bespoke online
                    experiences that not only resonate with the target audience but also fulfill the specific needs of
                    my clients. From domain acquisition to intricate CRM integration, I manage every step of the process
                    to ensure a seamless digital journey. Below are a few highlights from my extensive portfolio:</p>

            </div>
            <div class="portfolio-container">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/pics/25046d8b-83b8-42f2-a.png" alt="Megadata">
                    </div>
                    <h3>Megadata</h3>
                    <p>An intuitive and responsive website that represents the cutting-edge essence of the tech
                        industry. This project exemplified my expertise in creating a user-centric design, combined with
                        a backend that's robust and easy to navigate.</p>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/pics/photo_2023-09-08_12-.png" alt="Smyrna">
                    </div>
                    <h3>Smyrna</h3>
                    <p>A website that seamlessly blends aesthetics with functionality. Designed with a clear user
                        journey in mind, Smyrna stands as a testament to my ability to strike a balance between form and
                        function.</p>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="/pics/photo_2023-10-06_11- (1).jpg" alt="My personal website">
                    </div>
                    <h3>My personal website</h3>
                    <p>A true representation of my skills, vision, and professional journey. It's not just a portfolio
                        piece, but also a platform where I explore new web trends and technologies. This project was a
                        full-stack endeavor, encapsulating everything from domain management to CRM system integration.
                    </p>
                </div>
            </div>

            <hr class="section-divider" />

            <div class="education-section" id="education">
                <div class="text-content">
                    <h2>My education:</h2>
                    <p>Currently studying <b>Computer Science with a focus on Big Data</b> at the <b>University of
                            Wollongong in
                            Dubai.</b> Previously, I studied <b>Business Informatics</b> for three years at
                        <b>RANEPA</b> in Moscow.
                        <b>Achievements & Skills:</b>
                    <ul>
                        <li>Achieved second place in a Sberbank Hackathon.</li>
                        <li>Proficient in Python, Pandas, Numpy, Matplotlib, scikit-learn, Django, HTML, CSS, and SQL.
                        </li>
                        <li>Experience ranging from Assistant System Administrator to Senior System Administrator.</li>
                    </ul>
                    </p>
                </div>
                <div class="image-content">
                    <img src="/pics/maxresdefault.jpg" alt="University of Wollongong in Dubai">
                </div>

            </div>

            <hr class="section-divider" />

            <div class="experience-section" id="job">
                <div class="zigzag-line"><img src="/pics/zigzag-moustache.png" alt=""></div>
                <h2>My work experience</h2>
                <div class="zigzag-line-rotate"><img src="/pics/zigzag-moustache.png" alt="" id="image-flip"></div>
            </div>

            <hr class="section-divider" />


            <div class="work-experience-container">
                <div class="work-experience-block">

                    <div class="work-experience-text">
                        <h3>SVARTA</h3>
                        <p>(Feb 2021 - Sep 2021, 8 months, Moscow, Russia)</p>
                        <h4>IT Systems Administrator's Assistant</h4>
                        <ul>
                            <li>Supported system administration and updated the company's IT assets.</li>
                            <li>Repaired malfunctioning equipment and maintained IT infrastructure.</li>
                        </ul>
                        <p>Key Achievements:</p>
                        <ul>
                            <li>Installed servers based on Linux Ubuntu and Windows Server.</li>
                            <li>Developed an equipment inventory.</li>
                            <li>Overhauled outdated equipment warehouse.</li>
                        </ul>
                    </div>
                    <div class="work-experience-image">
                        <img src="/pics/Svarta20logo.png" alt="SVARTA Logo" class="company-logo">
                    </div>
                </div>

                <hr class="section-divider" />

                <div class="work-experience-block">
                    <div class="work-experience-image">
                        <img src="/pics/Coat_of_arms_of_Tuva.png" alt="Executive Body of the Tuva Republic Logo"
                            class="company-logo">
                    </div>
                    <div class="work-experience-text">
                        <h3>Executive Body of the Tuva Republic</h3>
                        <p>(Nov 2021 - Feb 2022, 4 months, Moscow, Russia)</p>
                        <h4>IT and Security Systems Manager</h4>
                        <ul>
                            <li>Managed enterprise security and access control systems.</li>
                            <li>Upgraded and maintained computer inventory and IT infrastructure.</li>
                            <li>Facilitated governmental video conferencing and managed the institution's web domain.
                            </li>
                        </ul>
                        <p>Key Achievements:</p>
                        <ul>
                            <li>Revamped the institution's website.</li>
                            <li>Implemented advanced security measures.</li>
                            <li>Established an official business email system.</li>
                            <li>Collaborated on significant governmental projects.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="section-divider" />

            <div class="personal-statement-section">
                <div class="personal-statement-image">
                    <img src="/pics/My photo.JPG" alt="Sunset background with silhouette">
                </div>
                <div class="personal-statement-text">
                    <h2>Personal Statement:</h2>
                    <p>Senior IT Systems Administrator<br>Future Big Data Scientist</p>
                    <hr>
                    <p>I am deeply passionate about the potential of Big Data. With expertise in custom software
                        development and hands-on experience in computer hardware repair, I am constantly driven by
                        innovation and the vast potential of technology. I uphold integrity, am goal-oriented, and value
                        punctuality and empathy. My ultimate ambition is to pioneer innovations leading towards
                        singularity.</p>
                </div>
            </div>

            <hr class="section-divider" />

        </main>
        <%- include('blocks/footer') -%>

</body>

</html>