<footer class="footer" id="footer">
    <div class="social-links">
        <a href="https://www.facebook.com/profile.php?id=100081995057886" target="_blank"><img src="/pics/facebook.png" alt="facebook"></a>
        <a href="https://twitter.com/EvKorSys" target="_blank"><img src="/pics/twww.svg" alt="twitter"></a>
        <a href="https://www.instagram.com/korolyov_v/" target="_blank"><img src="/pics/instagram.png" alt="instagram"></a>
        <a href="https://t.me/EvgeniiKorolevSys" target="_blank"><img src="/pics/telegram.png" alt="telegram"></i></a>
        <a href="https://wa.me/971522884653" target="_blank" ><img src="/pics/whatsapp.png" alt="watsapp"></a>
        <a href="https://github.com/MrRex1122" target="_blank" ><img src="/pics/github.png" alt="github"></a>
    </div>
    <hr class="divider">
    <div class="copyright">
        <p>© Evgenii Korolev. All rights reserved</p>
    </div>
</footer>