<header class="header">

  <a href="/signup" id="signup">Sign Up</a>

  <h1 class="headname">Evgenii Korolev Portfolio</h1>

  <br>
  <hr class="section-divider" />
  <br>
  <nav>
    <a href="/" class="navigation">Porfolio</a>
    <a href="/#education" class="navigation">My Education</a>
    <a href="/reviews" class="navigation">My Rewiews</a>
    <a href="/#job" class="navigation">Job Experience</a>
    <a href="/contactme" class="navigation">Contacts</a>
  </nav>
  <br>
  <hr class="section-divider" />
  <br>
</header>